p {
  color: rgb(255, 255, 255);
  text-align: justify;
  width: 90%;
  font-family: 'Roboto', sans-serif; 
}

label {
  color: aliceblue;
  font-family: 'Roboto', sans-serif; 
}

h1, h2 {
  color: #00abe1;
  font-family: 'Roboto', sans-serif; 
}